@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #09090b;
  /* zinc-950 */
  --foreground: #fafafa;
  /* zinc-50 */
  --primary: #ffffff;
  --primary-foreground: #09090b;
  --border: #27272a;
  /* zinc-800 */
  --input: #18181b;
  /* zinc-900 */
  --ring: #d4d4d8;
  /* zinc-300 */
}

body {
  background-color: var(--background);
  color: var(--foreground);
}